{% load static %}

<div class="card h-100 text-center">
    <div class="card-body">
      <img src="{{ student.img_url.url }}" alt="{{ student.username }}" class="img-thumbnail mb-3">
      <h5 class="card-title">{{ student.get_full_name }}</h5>
      {% if not has_voted %}
    <form method="post">
        {% csrf_token %}
        <input type="hidden" name="categoria" value="{{ current_category.id_category }}">
        <input type="hidden" name="voted_user_id" value="{{ student.id }}">
        <button type="submit">Votar</button>
    </form>
    
      {% else %}
        <span class="badge bg-success">Ya votaste</span>
      {% endif %}
    </div>
  </div>  
