<form method="POST" action="{% url 'index' %}" enctype="multipart/form-data">
  <!-- Etiqueta oculta para diferencias los distintos post -->
  <input type="hidden" name="tipoFormulario" value="register">
  {% csrf_token %}

  <!-- Impresión de errores referentes al formulario de registro (como campos vacíos o mal escritos)-->
  {% if form.errors %}
  {% for error in form.non_field_errors %}
    <div class="alert alert-danger">{{ error }}</div>
  {% endfor %}
  {% for field in form %}
    {% for error in field.errors %}
      <div class="alert alert-danger">
        <strong>{{ field.label }}:</strong> {{ error }}
      </div>
    {% endfor %}
  {% endfor %}
{% endif %}

  <!-- Nombre input -->
  <div data-mdb-input-init class="form-outline mb-4">
    <input type="text" id="registerName" name="nombre" class="form-control" />
    <label class="form-label" for="registerName">Nombre(s)</label>
  </div>

  <!-- Apellido Paterno input -->
  <div data-mdb-input-init class="form-outline mb-4">
    <input type="text" id="apPat" name="apellido_paterno" class="form-control" />
    <label class="form-label" for="apPat">Apellido Paterno</label>
  </div>

  <!-- Apellido Materno input -->
  <div data-mdb-input-init class="form-outline mb-4">
    <input type="text" id="apMat" name="apellido_materno" class="form-control" />
    <label class="form-label" for="apMat">Apellido Materno</label>
  </div>

  <!-- Email input -->
  <div data-mdb-input-init class="form-outline mb-4">
    <input type="email" id="registerEmail" name="correo" class="form-control" />
    <label class="form-label" for="registerEmail">Correo</label>
  </div>
  

<!-- Imagen input -->
<div class="mb-4">
<label for="img_url" class="form-label">Foto de perfil</label>
<input class="form-control" type="file" id="img_url" name="img_url" accept="image/*">
</div>

 <!-- Password input -->
 <div data-mdb-input-init class="form-outline mb-4">
  <input type="password" id="registerPassword" name="contraseña" class="form-control" />
  <label class="form-label" for="registerPassword">Contraseña</label>
</div>

  <!-- Confirmar Contraseña -->
<div data-mdb-input-init class="form-outline mb-4">
  <input type="password" id="confirmPassword" name="confirma_contraseña" class="form-control" />
  <label class="form-label" for="confirmPassword">Repetir Contraseña</label>
</div>

  <!-- Submit button -->
  <button type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-block mb-3">Registrarse</button>
</form>