{% extends 'home.html' %}
{% load static %}
{% block injected_css %}
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
{% endblock %}

{% block main_content %}

<!-- Card Wrapper -->
<div class="card">
    <!-- Profile Info as Card Header -->
    <div class="card-header">
        <div class="row align-items-center">
            <div class="col-3 col-md-2 text-center">
                <img src="{{ requested_profile.id_user.img_url.url }}" alt="Profile Picture" class="profile-pic">
            </div>
            <div class="col-9 col-md-10">
                <h4 class="username">{{ requested_profile.id_user.username }}</h4>
                <p class="full-name">{{ requested_profile.id_user.first_name }} {{ requested_profile.id_user.last_name }}</p>
                <p class="description">"{{ requested_profile.description }}"</p>
            </div>
        </div>
        <!-- Medals Section -->
            <div class="medals-section">
                <div class="medal">
                    <div class="medal-circle">🏆
                        <span class="medal-tooltip">Más inteligente</span>
                    </div>
                </div>
                <div class="medal">
                    <div class="medal-circle">🌟
                        <span class="medal-tooltip">Más carismático</span>
                    </div>
                </div>
                <div class="medal">
                    <div class="medal-circle">😊
                        <span class="medal-tooltip">Más guapo</span>
                    </div>
                </div>
            </div>
    </div>
    <!-- Card Body -->
    <div class="card-body">
            <!-- Comments Section -->
            <div class="comments-section">
                <div class="comments-box">
                    <h6>Comentarios</h6>
                    <div class="comments-list">
                        {% for comment in comments%}
                        {% include "common/comment.html" %}
                        {% empty %}
                        <div class="text-center w-100 py-3">
                            <div class="card-body py-5">
                                <h5 class="card-title">Sin comentarios</h5>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                {% if not request.user.is_staff%}
                <!-- El div de la caja para enviar comentario se convierte en el form, ahora son el mismo elemento -->
                <form method="POST" action="" id="commentForm" class="send-comment-box d-flex gap-3">
                    {% csrf_token %}
                    <img src="{{ user.img_url.url }}" alt="User Pic" class="rounded-circle">
                    <div contenteditable="true" class="form-control content-editable" id="editableDiv" placeholder="Escribe un comentario..."></div>
                    <input type="hidden" name="content" id="hiddenContentInput">
                    <button class="btn btn-dark">Enviar</button>
                </form>
                
                {% endif %}
            </div>
        </div>
</div>
{% endblock %}


{% block injected_js %}
<script src="{% static 'js/profile.js' %}"></script>
{% endblock %}